<head>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js">
  </script>
</head>



<body>
<canvas id="scatter" width=120% height=120%></canvas>
</body>


<script>


var datasets = [];


$.getJSON("/data/data2.json", function(jsonData) {

    var json = jsonData['{{sport}}']['{{season}}'];
    for(var team in json) {

      var pointStyle = [];
      var img = new Image();
      var data = [];
      img.src = '/data/logos/' + team + '.png';
      for(var week in json[team]) {
        pointStyle.push(img);
        data.push({x:Number(week),y:json[team][week]});
      }


        datasets.push({ fill: false, data:data, pointStyle: pointStyle})


    }

    var ctx = document.getElementById("scatter").getContext('2d');

    var scatterChart = new Chart(ctx, {
        type: 'scatter',

        //labels: years,
        data: {
            datasets: datasets
        },
        options: {
            showLines: true,
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom'
                }]
            },
            legend: {
            display: false
          }
        }
    });


});

</script>
